{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container mt-5">
    <h2>Histórico de Tranferências</h2>
    <table id="execucaoTable" class="display table table-sm table-striped" style="width:100%">
        <thead>
            <tr>
                <th>RPA</th>
                <th>Innovaro</th>
                <th>Data de Solicitação</th>
                <th>Item</th>
                <th>Quantidade</th>
                <th>Depósito de destino</th>
                <th>Solicitante</th>
                <th>Observações</th>
                <th>Entregue por</th>
                <th>Data de Entrega</th>
                <th>Status almox</th>
            </tr>
        </thead>
        <tbody>
            <!-- O DataTables preencherá automaticamente as linhas do corpo da tabela -->
        </tbody>
    </table>
</div>

{% endblock %}

{% block scripts %}

<script src="{% static 'js/datatable-historico-transferencia.js' %}"></script>

{% endblock %}