{% extends 'base.html' %}

{% block content %}
<h3 class="mb-3">Solicitações de cadastro de matrícula</h3>
<table id="solicitacaoCadastroTable" class="table table-bordered table-striped table-sm mb-3">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tipo</th>
            <th>Código</th>
            <th>Descrição</th>
            <th>Quantidade</th>
            <th>Depósito destino</th>
            <th>Solicitante</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        {% for item in cadastro_item %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.tipo_solicitacao }}</td>
            <td>{{ item.codigo }}</td>
            <td>{{ item.descricao }}</td>
            <td>{{ item.quantidade }}</td>
            <td>{{ item.deposito_destino_id }}</td>
            <td>{{ item.funcionario.matricula }} - {{ item.funcionario.nome }}</td>
            <td>
                <form method="post" id="form-solicitacao-item">
                    {% csrf_token %}
                    <button type="button" class="badge rounded-pill btn btn-sm btn-primary"  onclick="return confirm('Tem certeza que deseja aprovar esta solicitação?');">Aprovar</button>
                    <input type="hidden" class="tipo-cadastro" name="tipo_cadastro" value="">
                    <input type="hidden" class="id" name="id" value="">
                    <button class="badge rounded-pill btn btn-sm btn-danger" type="submit" name="apagar" data-tipo-cadastro="item" data-id="{{item.id}}" onclick="prepararApagar(this, 'form-solicitacao-item')">Apagar</button>
                    <button type="button" class="badge rounded-pill btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#editarModal">Editar</button>
                    </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<table id="solicitacaoItemTable" class="table table-bordered table-striped table-sm mb-3">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        {% for matricula in cadastro_matricula %}
        <tr>
            <td>{{ matricula.id }}</td>
            <td>{{ matricula.matricula }} - {{ matricula.nome }}</td>
            <td>
                <form method="post" id="form-solicitacao-funcionario">
                    {% csrf_token %}
                    <button type="button" class="badge rounded-pill btn btn-sm btn-primary"  onclick="return confirm('Tem certeza que deseja aprovar esta solicitação?');">Aprovar</button>
                    <input type="hidden" class="tipo-cadastro" name="tipo_cadastro" value="">
                    <input type="hidden" class="id" name="id" value="">
                    <button class="badge rounded-pill btn btn-sm btn-danger" type="submit" name="apagar" data-tipo-cadastro="funcionario" data-id="{{matricula.id}}" onclick="prepararApagar(this, 'form-solicitacao-funcionario')">Apagar</button>
                    <button type="button" class="badge rounded-pill btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#editarModal">Editar</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Modal de Edição -->
<div class="modal fade" id="editarModal" tabindex="-1" aria-labelledby="editarModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editarModalLabel">Editar Solicitação</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editarForm" method="post" action="{% url 'processar_edicao' %}">
                    {% csrf_token %}
                    <input type="hidden" name="solicitacao_id" id="editarSolicitacaoId">
                    <input type="hidden" name="tipo_solicitacao" id="editarTipoSolicitacao">
                
                    <div class="mb-3">
                        <label for="funcionario" class="form-label">Funcionário</label>
                        <input type="text" class="form-control" id="editarFuncionario" name="funcionario" required>
                    </div>
                    <div class="mb-3">
                        <label for="item" class="form-label">Item</label>
                        <input type="text" class="form-control" id="editarItem" name="item" required>
                    </div>
                    <div class="mb-3">
                        <label for="quantidade" class="form-label">Quantidade</label>
                        <input type="number" class="form-control" id="editarQuantidade" name="quantidade" required>
                    </div>
                    <div class="text-end">
                        <button type="submit" class="badge btn btn-sm btn-success">Salvar Alterações</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script>
    function prepararApagar(button, formId) {
        var tipoCadastro = button.getAttribute("data-tipo-cadastro");
        var id = button.getAttribute('data-id')

        var form = document.getElementById(formId);
        form.querySelector('.tipo-cadastro').value = tipoCadastro;
        form.querySelector('.id').value = id;

        return confirm('Tem certeza que deseja apagar esta solicitação?');
    }
</script>

<script>
    var editarModal = document.getElementById('editarModal');
    editarModal.addEventListener('show.bs.modal', function (event) {

        var button = event.relatedTarget;
        var solicitacaoId = button.getAttribute('data-solicitacao-id');
        var tipoSolicitacao = button.getAttribute('data-tipo-solicitacao');
        var funcionario = button.getAttribute('data-funcionario');
        var item = button.getAttribute('data-item');
        var quantidade = button.getAttribute('data-quantidade');

        // Atualiza os campos do formulário no modal
        var solicitacaoIdInput = editarModal.querySelector('#editarSolicitacaoId');
        var tipoSolicitacaoInput = editarModal.querySelector('#editarTipoSolicitacao');
        var funcionarioInput = editarModal.querySelector('#editarFuncionario');
        var itemInput = editarModal.querySelector('#editarItem');
        var quantidadeInput = editarModal.querySelector('#editarQuantidade');

        solicitacaoIdInput.value = solicitacaoId;
        tipoSolicitacaoInput.value = tipoSolicitacao;
        funcionarioInput.value = funcionario;
        itemInput.value = item;
        quantidadeInput.value = quantidade;

    });
</script>

<script>
    $(document).ready(function() {
        $('#solicitacaoCadastroTable').DataTable();  
        $('#solicitacaoItemTable').DataTable();  
    });
</script>

{% endblock %}



